{% extends "layout.twig" %}
{% block content %}
    {% for post in posts %}
        <article>
            <h1>
                {% if post.content.title is defined %}
                    <a href="{{ path('post', {'id':post.id}) }}" title="{{ post.content.title }}">{{ post.content.title }}</a>
                {% else %}
                    <a href="{{ path('post', {'id':post.id}) }}">Untitled</a>
                {% endif %}
            </h1>
            <div class="time">{{ post.publishedAt|date('r') }}</div>
            {% if post.content.excerpt is defined and post.content.excerpt %}
                <p>{{ post.content.excerpt }}</p>
                <div class="readmore"><a href="{{ path('post', {'id':post.id}) }}">Read more &rarr;</a></div>
            {% else %}
                {% if post.content.body is defined %}
                    {{ post.content.body|raw }}
                {% elseif post.content.text is defined %}
                    <p>{{ post.content.text }}</p>
                {% endif %}
            {% endif %}
            <div class="seperator"></div>
        </article>
    {% endfor %}
    <ul>
        {% if since %}<li><a href="{{ path('index', {'since': since }) }}">&larr; Newer Posts</a></li>{% endif %}
        {% if before %}<li><a href="{{ path('index', {'before': before }) }}">Older Posts &rarr;</a></li>{% endif %}
    </ul>
{% endblock %}
