<!DOCTYPE HTML>
<html lang="{{ reevio.language }}">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ app.request.baseUrl }}/css/light.min.css">
    <!-- Uncomment this line and comment the line above for another (blue) theme <link rel="stylesheet" type="text/css" href="css/style_blau.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript">window.scrollTo(0,0)</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ app.request.baseUrl }}/scripts/youtube.js"></script>
    <script type="text/javascript" src="{{ app.request.baseUrl }}/scripts/vimeo.js"></script>
    <script type="text/javascript">$('iframe').wrap('<div class="video" />');</script>
    {% if title is defined %}
    <title>{{ title }} - {{ reevio.blogtitle }}</title>
    {% else %}
    <title>{{ reevio.blogtitle }}</title>
    {% endif %}
</head>

<body>
<div class="wrapper">
    <nav> <!-- Page navigation -->
        <a href="{{ path('feed') }}" class="feed"></a>
    </nav>
    <div class="clear_head"></div>
    <div id="container">
        <div id="main" role="main">
            {% block content %}Nothing to see here{% endblock %}
        </div>
        {% include "sidebar.twig" %}
        <div class="clear"></div>
    </div>
<div class="push"></div>
</div>
    <footer>
        {% if imprinturl is defined %}
            <p><a href="{{ imprinturl }}">Imprint</a></p>
        {% endif %}
        <p>Powered by <a href="http://cacauu.de/reevio/" rel="nofollow">Reevio</a></p>
    </footer>
</body>
</html>