<!DOCTYPE HTML>
<html lang="{{ reevio.language }}">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ app.request.baseUrl }}/css/light.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript">window.scrollTo(0,0)</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ app.request.baseUrl }}/scripts/youtube.js"></script>
    <script type="text/javascript" src="{{ app.request.baseUrl }}/scripts/vimeo.js"></script>
    <script type="text/javascript">$('iframe').wrap('<div class="video" />');</script>
    {% if title is defined %}
    <title>{{ title }} - {{ reevio.blogtitle }}</title>
    {% else %}
    <title>{{ reevio.blogtitle }}</title>
    {% endif %}
</head>

<body>
<div class="wrapper">
    <div class="clear_head"></div>
    <div id="container">

    <div id="header">
    <nav> <!-- Page navigation -->
        <a href="{{ path('feed') }}" class="feed"></a>
        <a href="{{ reevio.entity_uri }}" target="_blanc"><img src="http://cacauu.de/bilder/tentlogo.png" style="height: 26px; float: right; opacity: 0.75;"></a>
    </nav>

    <div class="header-info">
    <div style="display: table-cell; vertical-align: middle;">
	<div id="avatar"><img src="{{ avatar }}" /></div>
    </div>
    <div style="display: table-cell; vertical-align: middle; padding: 20px;">
	{% if profile.name %}
		<div id="name">{{ profile.name }}</div>
	{% endif %}
	<div id="information">
		{% if profile.location %}
			<div class="information">{{ profile.location }}</div>
		{% endif %}
	</div>
	<div id="bio">{{ profile.bio }}</div>
    </div>
    </div>

	<div id="clear"></div>
    </div>

<aside> 
	{% if recent_statuses %}
	<h1 style="margin-top: 20px; text-align: center;">Latest statuses</h1>
	<div id="status">
		{% for status in recent_statuses %}
			<div class="status">{{ tent_markdown(status.content.text) }}</div>
		{% endfor %}
	</div>
	{% endif %}
	<div class="clear_head"></div>
</aside>

        <div role="main">
            {% block content %}Nothing to see here{% endblock %}
        </div>


        <div class="clear"></div>





    </div>
<div class="push"></div>
</div>
    <footer>
        {% if imprinturl is defined %}
            <p><a href="{{ imprinturl }}">Imprint</a></p>
        {% endif %}
        <p>Powered by <a href="http://cacauu.de/reevio/" rel="nofollow">Reevio</a></p>
    </footer>
</body>
</html>
