<?xml version="1.0"?>
<rss version="2.0">
<channel>
	<title>{{ reevio.blogtitle }}</title>
	<link>{{ reevio.bloghost }}</link>
	<copyright>{{ reevio.entity_uri }}</copyright>
	<description>{{ reevio.description }}</description>
	<language>{{ reevio.language }}</language>
	<pubDate>{{ "now"|date('r') }}</pubDate>
	<lastBuildDate>{{ "now"|date('r') }}</lastBuildDate>
	<generator>Reevio</generator>
	{% for post in posts %}
		<item>
			<title>
				{% if post.content.title is defined %}
					{{ post.content.title }}
				{% else %}
					Essay -  {{ post.publishedAt }}
				{% endif %}
			</title>
			<link>{{ url('post', {'id': post.id}) }}</link>
			<pubDate>{{ post.publishedAt|date("r") }}</pubDate>
			<source>{{ url('feed') }}</source>
			{% if post.content.excerpt is defined and post.content.excerpt %}
				<description>{{ post.content.excerpt }}</description>
			{% else %}
				<description><![CDATA[{{ post.content.body|raw }}]]></description>
			{% endif %}
		</item>
	{% endfor %}
</channel>
</rss>

